[Unit]
Description=NetBox Meraki Sync Timer
Requires=netbox-meraki-scheduler-timer.service

[Timer]
# Run every 5 minutes (adjust as needed)
OnBootSec=5min
OnUnitActiveSec=5min
Unit=netbox-meraki-scheduler-oneshot.service

[Install]
WantedBy=timers.target
